@import "./reset.css";
@import "./header.css";
@import "./main.css";
@import "./footer.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
@keyframes correct-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes incorrect-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes uncorrect-animation {
  0% {
    background-color: #787c7e;
  }
  50% {
    background-color: #c9b458;
  }
  100% {
    background-color: #787c7e;
  }
}
